* {margin:0;padding:0;
   text-transform:capitalize;
   box-sizing:border-box;
   transition: all 0.2s linear;
   font-family:sans-serif;
   scroll-behavior:smooth;
   list-style-type:none;
   text-decoration:none !important;}

*::selection {background:#fff;}

body {overflow-x:hidden;}

:root {--primary-color:#6923D0;
       --primary-color1:#f4f0fa;
       --primary-color2:#58555e;
       --first-color-light:#4b0ea7;
       --title-color:#19181b;
       --color-light:#f9f6fd;
       --gray:#8d8d8d;
       --gray-dark:#343a40;
       --light:#f8f9fa;
       --dark:#343a40;

       --font-mont:'Mont', cursive;
       --font-Rale: 'Rale', cursive;

       --box-shadow:0 0 .5rem #090a0a7a;
       --box-shadow2:0 .5rem 1.5rem #0d2e2e23;
       --box-shadow3:0 .3rem 4rem #252c2c2f;
       --box-shadow4:0 0 4px #000;
       --box-shadow5:0 0 40px 20px rgba(0,0,0,0.26);
       --box-shadow6:5px 5px 5px #eee;}


/************************ 
  # Start Form Section
************************/
.form-section {background:linear-gradient(#fff,#78abff);
               min-height:100vh;
               display:flex;}

.form {background:#0c5adb;
       color:#fff;
       width:50%;
       height:20rem;
       margin:auto;
       text-align:center;
       align-items:center;
       padding:4rem 2rem;
       border-radius:5px;}

.form-section .form hr {width:6rem;
                        height:2px;
                        margin:2rem auto;
                        border:0;
                        background:rgba(255,255,255,0.5);
                        opacity:1;}

.form-section .form p {font-size:16px;
                       line-height:24px;
                       color:rgba(255,255,255,0.8);
                       margin-bottom:30px;}

.form-section .form form input {border-radius:3px;
                                outline:none;
                                border:1px solid #04327c;
                                background-color:#04327c;
                                color:rgba(255,255,255,0.8);
                                width:70%;
                                padding:0.3rem 0.5rem;
                                margin-bottom:2.5rem;
                                font-size:1rem;}

.form-section .form form button {background:transparent;
                                 padding:0.3rem 0.8rem;
                                 outline:none;
                                 border:1px solid #04327c;
                                 color:rgba(255,255,255,0.8);
                                 border-radius:3px;
                                 cursor:pointer;
                                 transition: all 0.3s linear;}

.form-section .form form button:hover {background-color:#04327c;
                                       border-color:#04327c;}